body {
    text-align: center;
    font-size: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#header {
    margin: 3% 0;
    padding: 1%;
    background-color: rgb(26, 26, 122);
    color: white;
}
input {
    border: none;
    border-bottom: 1px solid black;
    margin: 1%;
    /* position: relative; */
}
table {
    border: none;
    margin: 5% 30% 0% 30%;
    width: 45%;
    
}
td,th {
    width: 40%;
    border-bottom: 1px dashed black;
    padding: 2px;
    font-size: 12px;
}
.delete {
    color:red;
    border: none;
}
fieldset {
    width: 50%;
    margin-left:30%;
    margin-top: 4%;
    border: none;
}
/* form {
    position: relative;
} */
#left,#earned,#spent {
    margin-right:1%;
    font-size: 12px;
    width: auto;
}
#totalleft,#earnedrs,#spentrs {
    border: 1px solid black;
    width: auto;
    margin-right:10%;
    padding: 1%;
    font-size: 12px;
}
form {
    position: relative;
}
.amount-error {
    color: #ff0000;
    position: absolute;
    top:40px;
}
.date-error {
    color: #ff0000;
    position: absolute;
    top:40px;
}
#spentrs {
    font-weight: bold;
    color: #ff0000;
}
#earnedrs {
    font-weight: bold;
    color:#1bbd26;
}