#header {
    margin: 3% 0;
    padding: 1%;
    background-color: rgb(39, 126, 169);
    color: black;
    width: auto;
    /* float: left; */
    align-items: center;
}
#header button {
    border: none;
    border-radius: 2px;
    border-color: transparent;
    font-size: 16px;
    float: right;
    margin: 1.4% 1%;
    padding: 1%;
    width:auto;
    text-align: center;
}
h1 {
    display: inline-block;
    text-align: center;
    padding-left: 5%;
    margin-top: 1.5%;
}
.popupWindow {
    display: inline-block;
    background-color:#212e6180;
    height: 330px;
    width: 350px;
    align-items: center;
    margin-left: 40%;
    box-sizing: inherit;
    position: relative;
}
h4 {
    font-size: 20px;
    text-align: center;
}
.popupWindow input,#login {
    height: 50px;
    width: 80%;
    margin: 2% 2% 2% 8%;
    padding: 3px;
    display: block;
    box-sizing: inherit;
    border: none;
    border-radius: 4px;
    border-color: #c5ced8;
    box-shadow: inset 0 4px 8px 0 #0000000a;
    border-width: 1px;
}
#login {
    align-items: center;
    background-color: #13aae5;
}
#close {
    position: absolute;
    top: 4px;
    right: 4px;
}
.register {
    text-align: center;
}